*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato';
}

@font-face {
  font-family: lato;
  src: url('./fonts/helvetica.ttf');
}

:root{
  --indigoColor: #540D6E;
  --redColor: #EE4266;
  --yellowGlow:#FFD23F;
  --whiteColor:#F3FCF0;
  --oliveColor:#1F271B;
}

html{
  background-image: linear-gradient(to bottom, var(--indigoColor), var(--redColor));
  background-repeat: no-repeat;
  height: 100vh;
}

.navigation{
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.navigation span{
  background-color: var(--redColor);
  padding: .5rem 1rem;
  border-radius: .5rem;
  transform: scale(100%);
  transition: .2s;
  cursor: pointer;
}

.navigation span:hover{
  background-color: var(--yellowGlow);
  color: var(--oliveColor);
  transform: scale(110%);
  transition: .2s;
}
.navigation span:active{
  background-color: var(--oliveColor);
  color: var(--whiteColor);
  transform: scale(105%);
  transition: .2s;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10rem auto;
  gap: 2rem;
  padding: 1rem;
}

.main a{
  text-decoration: none;
  font-size: 1.5rem;
}

.main div{
  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 5rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: .2s;
}

.main div:hover{
  transform: translateY(-.5rem);
  transition: .2s;
}

