body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #731ce4;
}

body div a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.gallery {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next line */
  justify-content: center;
  align-items: center;
}

.card {
  width: 110px;
  height: 150px;
  margin: 5px; /* Adjust the margin as desired */
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  transition: 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 25px;
}

.gallery a:nth-child(1) .card {
  background-color: #b881ff;
}

.gallery a:nth-child(2) .card {
  background-color: #ff9950;
  color: #da6716;
}

.gallery a:nth-child(3) .card {
  background-color: #aaec8a;
}

.gallery a:nth-child(4) .card {
  background-color: #ed6a5e;
  color: #f0210e;
}
.card:hover {
  transform: translateY(-16px);
  font-weight: bold;
  cursor: pointer;
}

.card:hover ~ .card {
  left: 55px;
}
